body {
  margin: 0;
  background-color: #141414;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

a {
  color: white;
}

a:hover {
  color: #e50914;
  transition: color 0.3s ease;
}
